In [ ]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
} #sebenarnya karena random.choice, ketika di run ulang, data tabel akan berbeda-beda

df = pd.DataFrame(hasil_nilai)
df #saya ganti ke df saja supaya tampil semua data tabelnya, kalau df.head() berarti kan hanya 5 data awal dibagian atas saja

    siswa_id   pelajaran  nilai jenis-kelamin kelas
0          1       Kimia     47     perempuan   12C
1          2     Geologi     86     laki-laki   12A
2          3     Biologi     95     perempuan   12B
3          4      Fisika     89     perempuan   12C
4          5  Matematika     23     laki-laki   12D
5          6      Fisika      8     laki-laki   12B
6          7     Geologi     42     perempuan   12C
7          8     Biologi     54     laki-laki   12C
8          9     Ekonomi     49     laki-laki   12D
9         10     Geologi     92     laki-laki   12B
10        11     Biologi     99     perempuan   12C
11        12       Kimia      1     laki-laki   12D
12        13       Kimia     42     perempuan   12D
13        14       Kimia     95     perempuan   12C
14        15     Geologi     48     perempuan   12B
15        16     Geologi     91     laki-laki   12B
16        17       Kimia     64     laki-laki   12C
17        18     Ekonomi      1     laki-laki   12A
18        19     Ekonomi      7     perempuan   12A
19        20       Kimia      9     laki-laki   12C

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# 1.1 indexing terhadap dataframe untuk mengakses column nilai dan kelas saja, karena tidak ada ketentuan lain berarti nilai dan kelas saja saya tampilkan semua
df_nilai_kelas = df[['nilai','kelas']]
df_nilai_kelas

    nilai kelas
0      47   12C
1      86   12A
2      95   12B
3      89   12C
4      23   12D
5       8   12B
6      42   12C
7      54   12C
8      49   12D
9      92   12B
10     99   12C
11      1   12D
12     42   12D
13     95   12C
14     48   12B
15     91   12B
16     64   12C
17      1   12A
18      7   12A
19      9   12C

In [ ]:
# 1.2 indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai
df_peljrn_nilai = df[['pelajaran','nilai']]
df_peljrn_nilai.iloc[5:11]

   pelajaran  nilai
5     Fisika      8
6    Geologi     42
7    Biologi     54
8    Ekonomi     49
9    Geologi     92
10   Biologi     99

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# 2.1 data siswa pada mata pelajaran Ekonomi dan Fisika
ekonomi = df['pelajaran'] == 'Ekonomi'
fisika = df['pelajaran'] == 'Fisika'
df[ekonomi | fisika]

    siswa_id pelajaran  nilai jenis-kelamin kelas
3          4    Fisika     89     perempuan   12C
5          6    Fisika      8     laki-laki   12B
8          9   Ekonomi     49     laki-laki   12D
17        18   Ekonomi      1     laki-laki   12A
18        19   Ekonomi      7     perempuan   12A

In [ ]:
# 2.2 data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia
kimia = df['pelajaran'] == 'Kimia'
nilailebihdr50 = df['nilai'] > 50
df[kimia & nilailebihdr50]

    siswa_id pelajaran  nilai jenis-kelamin kelas
13        14     Kimia     95     perempuan   12C
16        17     Kimia     64     laki-laki   12C

In [ ]:
# 2.3 data yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dan di kelas 12C
perempuan = df['jenis-kelamin'] == 'perempuan'
nilai70 = df['nilai'] > 70
kelas12C = df['kelas'] == '12C'
df[perempuan & nilai70 & kelas12C]

    siswa_id pelajaran  nilai jenis-kelamin kelas
3          4    Fisika     89     perempuan   12C
10        11   Biologi     99     perempuan   12C
13        14     Kimia     95     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# normalisasi
def x_normalized(x):
    a = x - x.min()
    b = x.max() - x.min()
    return a/b

In [ ]:
print(df[['nilai']].apply(x_normalized))

       nilai
0   0.469388
1   0.867347
2   0.959184
3   0.897959
4   0.224490
5   0.071429
6   0.418367
7   0.540816
8   0.489796
9   0.928571
10  1.000000
11  0.000000
12  0.418367
13  0.959184
14  0.479592
15  0.918367
16  0.642857
17  0.000000
18  0.061224
19  0.081633